/* Home.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #1e1e1e;
  color: #f5f5f5;
}

.head {
  text-align: center;
  padding: 50px 20px;
  background: #282c34;
  color: #61dafb;
  animation: fadeIn 1.5s ease-in-out;
}

.main {
  font-size: 3em;
  margin-bottom: 20px;
  color: #fce8e8;
}

.submain {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.hero {
  font-weight: bold;
  color: #e91e63;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.video-container {
  flex: 1;
  margin: 20px;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.content {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: center;
}

.cards-section {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  margin: 40px 0;
  justify-content: space-between;
}

.card {
  background: #9a0404 ;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  animation: slideIn 1s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #444;
}

.card h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #61dafb;
}

.card p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.card button {
  padding: 10px 20px;
  background: #61dafb;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background: #21a1f1;
}

@media (max-width: 768px) {
  .main {
    font-size: 2em;
  }

  .submain {
    font-size: 1.2em;
  }

  .container {
    flex-direction: column;
  }

  .video-container,
  .content {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .cards-section {
    align-items: center;
  }

  .card {
    width: 80%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
